body {
    background-color: #262A2E !important;
    color: white;
}

.badge {
    color: #323232;
    background-color: #37c562;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #323232!important;
    background-color: #37c562;
}

input:checked+.slider {
    background-color: #37c562!important;
}

input:focus+.slider {
    box-shadow: 0 0 1px #37c562!important;
}

.slider:before {
    background: #343a40 !important;
}