header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    min-height: 500px;
}

header.splash {
    background-image: url("../../assets/vanillatweaks/home.png")
}

nav{
    padding-top: 30px;
}

a,
a:hover,
a:focus {
    color: #37c562;
}

.card {
    margin-bottom: 25px;
    position: relative;
}

.card em {
    color: #707070;
}

.card img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .card img {
        max-width: 300px;
    }
}

.card .text-region {
    position: relative;
}

.card .text-region h3 {
    margin-top: 10px;
    padding: 8px 0;
    font-size: 1.4em;
}

.card .text-region p {
    padding: 5px 0;
    margin: 0;
    font-size: 0.9em;
}

.card .versions {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card .upcoming {
    /* position: absolute; */
    float: right;
    color: white;
    font-weight: normal;
    right: 25px;
    top: 25px;
    font-size: 0.9em;
    padding: 7px 10px;
}

.nav-pills a {
    color: #37c562!important;
    cursor: pointer;
}

.nav-pills .nav-link.upcoming {
    color: #ffc000;
}

.nav-pills .nav-link.active {
    background-color: #37c562;
    color: white!important;
}

.nav-pills .nav-link.upcoming.active {
    background-color: #ffc000;
    color: white;
}