body {
    background-color: #121212;
    color: white!important;
}

.element {
    margin: 10px;
    border-radius: 5px;
    border: 1px #323232 solid;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    background-color: #121212;
    color: white!important;
}

.element:hover {
    box-shadow: inset 0 0 0 1000px rgba(200, 200, 200, .5);
    transform: scale(1.12);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #323232;
    background-color: #007bff;
}

div .timeline-Tweet .timeline-Tweet--isRetweet .u-cf .js-tweetIdInfo .js-clickToOpenTarget {
    color: white!important;
}