body {
    background-color: #003c3c;
    color: white;
}

.card {
    border: 1px #323232 solid;
    background-color: #121212;
    color: white;
}

.card:hover {
    box-shadow: inset 0 0 0 1000px rgba(200, 200, 200, .5);
}

.card-body {
    color: white!important;
    background-color: black!important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #323232;
    background-color: #007bff;
}

.slider:before {
    background: #343a40;
}