.element_text {
    text-align: center;
}

.element_downloads {
    text-align: center;
}

h1 {
    text-align: center;
}

.element a {
    text-decoration: none;
}

.nav-link {
    font-size: 1.5rem;
}

@media screen and (max-width:640px) {
    #title {
        font-size: 3rem;
    }
}