.card {
    border: 1px #ebe8e8 solid;
}

.card:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.slider:before {
    background: white;
    border-style: groove;
    border-width: 1px;
    color: grey;
}